

body
{
    background-color:#121212;
}

.container
{
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}
img
{
    padding: 20px;
    width: 300px;
}
li
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: navajowhite;
    text-align: center;
}
